#app {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-align: center;

  color: var(--text);
  background-color: var(--color-2);
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

span,
p,
h1 {
  user-select: text;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* notificacoes */
.c-toast-container > .c-toast {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 1.2rem;

  backdrop-filter: blur(2px);
}

.c-toast-container > .c-toast--success {
  background-color: rgba(17, 158, 41, 0.85);
}

.c-toast-container > .c-toast--default {
  background-color: rgba(80, 80, 80, 0.85);
}

.c-toast-container > .c-toast--error {
  background-color: rgba(235, 11, 11, 0.85);
}
