#app {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-align: center;

  color: var(--text);
  background-color: var(--color-2);
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

span,
p,
h1 {
  user-select: text;
}

:root {
  --color-1: rgb(255, 255, 255);
  --color-2: rgb(243, 246, 246);
  --washed-gray: rgb(236, 236, 236);
  --light-gray: rgb(212, 212, 212);
  --gray: rgb(144, 144, 144);
  --text: black;
  --text-light: rgb(122, 122, 122);
  --text-red: rgb(255, 38, 38);
  --blue: rgb(61, 104, 195);
  --green: rgb(61, 195, 83);
}

a {
  text-decoration: none;
  color: inherit;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* notificacoes */
.c-toast-container > .c-toast {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  
  backdrop-filter: blur(2px);
}

.c-toast-container > .c-toast--success {
  background-color: rgba(17, 158, 41, 0.85);
}

.c-toast-container > .c-toast--error {
  background-color: rgba(235, 11, 11, 0.85);
}
